@charset "utf-8";
.c-border-top {
    border-top: solid 2px #b28738;
    padding-top: 1rem;
}

.c-border-top .c-button {
    background-color: unset;
}

.c-border-top .c-button::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../shared/img/img_cloud.svg") no-repeat 0 center;
    transform: scale(1, -1);
    vertical-align: middle;
    margin-right: 10px;
}

.c-border-top .c-button::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../shared/img/img_cloud.svg") no-repeat 0 center;
    vertical-align: middle;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .c-border-top {
        padding-top: 3rem;
    }

    .c-border-top .c-button::before {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .c-border-top .c-button::after {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}

.p-article--img {
    padding-top: 4rem;
}

.p-article--img .l-container {
    width: 100%;
}

.p-article--text {
    padding: 3rem 0;
}

.p-article--text .l-container {
    text-align: left;
}

.p-article--title {
    position: relative;
    font-size: 1rem;
    padding: 0 0 1rem 1rem;
    margin: 2rem 0 0;
    line-height: 1.75;
    letter-spacing: 0.15em;
    text-align: left;
}

.p-article--title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b28738;
}

/* 挿絵 */
.p-article--fig, .p-article--fig.wl {
    width: 100%;
    margin: 1.25rem auto 0;
}

.p-article--btnbox {
    margin-top: 2rem;
}

.p-article--btnbox .c-heading{
    text-align: center;
}

/* 動画埋め込み */
.p-article--movie {
    padding-top: 4rem;
}

.p-article--movie .l-container {
    width: 100%;
}

.p-article--iframe {
    position: relative;
    height: 0;
    /*アスペクト比 16:9の場合の縦幅*/
    padding-bottom: 56.25%;
    overflow: hidden;
}

.p-article--iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    pointer-events: all;
}

/* 開発環境リスト */
.p-article--list li {
    position: relative;
    font-size: 14px;
    padding-left: 30px;
    margin-top: 10px;
}

.p-article--list li::before {
    content: '';
    display: block;
    position: absolute;
    background: #b28738;
    width: 8px;
    height: 8px;
    top: 2px;
    left: 10px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
    .p-article--img {
        padding-top: 6rem;
    }

    .p-article--img .l-container {
        width: 80%;
    }

    .p-article--text {
        padding: 5rem 0;
    }

    /* 挿絵 */
    .p-article--fig {
        width: 50%;
        margin: 1.5rem auto 0;
    }

    .p-article--fig.wl {
        width: 80%;
    }

    .p-article--btnbox {
        margin-top: 3rem;
    }

    .p-article--title {
        font-size: 1.5rem;
        margin: 3rem 0 0;
    }

    /* 動画埋め込み */
    .p-article--movie .l-container {
        width: 90%;
    }

    /* 開発環境リスト */
    .p-article--list li {
        font-size: 1rem;
    }

    .p-article--list li::before {
        width: 10px;
        height: 10px;
        top: 3px;
        left: 5px;
    }
}

@media screen and (min-width: 1080px) {
    /* 動画埋め込み */
    .p-article--movie .l-container {
        width: 70%;
    }
}

/*
  Utility
----------------------------------------------- */
.tapunset {
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .tapunset {
        pointer-events: auto;
    }
}