@charset "utf-8";

/*===================================================
  Foundation
====================================================*/

/*
  Reset
----------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

/*
  Base
-----------------------------------------------------*/
*,
:before,
:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 160px;
}

body {
    height: 100%;
    color: #fff;
    text-rendering: optimizeLegibility;
    font-family: 'Noto Serif JP', serif;
    font-size: 14px;
    font-weight: normal;
    font-feature-settings: 'palt';
    letter-spacing: 2px;
    background-color: #000;
}


body.is-drawerActive {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: .7;
}

/*===================================================
  Lauout
====================================================*/

/*
  Centering
----------------------------------------------- */
.l-bgThreejs {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
}

.l-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*
  Flex
----------------------------------------------- */
.l-flex {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .l-flex--pc {
        display: flex;
        align-items: start;
    }
}

.l-flex--column {
    display: flex;
    flex-direction: column;
}

/*
  Base layout
----------------------------------------------- */
.l-header {
    position: fixed;
    width: 100%;
    padding: .8rem .75rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background: #000;
    z-index: 100;
    transform: translateY(-2px);
}

.l-header .l-flex {
    justify-content: space-between;
}

.l-header .l-container {
    width: 90%;
    max-width: 90%;
}

@media screen and (min-width: 768px) {
    .l-header {
        padding: .8rem 0;
    }
}

.l-main {
    width: 100%;
    margin: 0 auto;
}

.l-footer {
    width: 100%;
    text-align: center;
}

/*===================================================
  Object
====================================================*/
/*
  Component
----------------------------------------------- */

/* sp menu */
.c-spmenu--btn {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    z-index: 110;
}

.c-spmenu--btn span,
.c-spmenu--btn span::before,
.c-spmenu--btn span::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 25px;
    border-radius: 3px;
    background-color: #cc9a1d;
    transition: .2s;
}

.c-spmenu--btn span::before {
    bottom: 8px;
}

.c-spmenu--btn span::after {
    top: 8px;
}

#MenuspClick:checked ~ .c-spmenu--btn span {
    background-color: rgba(0, 0, 0, 0);
}

#MenuspClick:checked ~ .c-spmenu--btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#MenuspClick:checked ~ .c-spmenu--btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#MenuspClick {
    display: none;
}

.c-spmenu--content {
    width: 100vw;
    height: 110vh;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #000;
    z-index: 105;
    transition: all 0.5s;
}

#MenuspClick:checked ~ .c-spmenu--content {
    left: 0;
}

.c-spmenu--content ul {
    padding: 70px 10px 0;
}

.c-spmenu--content ul li {
    border-bottom: solid 1px #cc9a1d;
    list-style: none;
}

.c-spmenu--content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding: 1.5rem 3rem;
    position: relative;
}

.c-spmenu--content ul li a::before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: solid 2px #cc9a1d;
    border-right: solid 2px #cc9a1d;
    transform: rotate(45deg);
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* title */
.c-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.75;
    letter-spacing: 0.15em;
    padding-bottom: 1rem;
}

.c-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* heading */
.c-heading {
    line-height: 1.75;
    text-align: left;
    margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
    .c-title {
        font-size: 2.25rem;
    }

    .c-heading {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}

/* button */
.c-button {
    display: block;
    width: 240px;
    background-color: #cc9a1d; /* 金 */
}

/* card */
.c-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 3rem;
}

.c-card--body {
    flex: 1 1 auto;
    width: 100%;
    margin-top: 1.5rem;
}

.c-card--body .text {
    text-align: left;
    line-height: 2;
}

.c-card--title {
    text-align: left;
    margin-bottom: 1rem;
}

.c-card--img {
    width: 100%;
}

/* accordion（スマホのみ対応） */
.c-accordion {
    width: 100%;
    margin: 0 auto;
}

.c-accordion--parent {
    position: relative;
    pointer-events: all;
    text-align: center;
    cursor: pointer;
}

.c-accordion--parent::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 30px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #cc9a1d;
    border-bottom: 2px solid #cc9a1d;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 1));
    transform: translateY(-50%) rotate(45deg);
    transition: .3s;
}

.c-accordion--parent.open:after {
    transform: rotate(225deg);
}

.c-accordion--child {
    display: none;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .c-accordion--parent {
        pointer-events: none;
    }

    .c-accordion--parent::after {
        display: none;
    }

    .c-accordion--child {
        display: block;
    }
}

/* Top Button */
#TopBtn {
    position: fixed;
    right: 0.3rem;
    bottom: 0.3rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #TopBtn {
        right: 2rem;
        bottom: 2rem;
    }
}

/*
  Project
----------------------------------------------- */
/* Header */
.p-header--logo {
    width: 110px;
}

.p-header--nav {
    display: none;
}

.p-header--spmenu {
    display: block;
}

@media screen and (min-width: 768px) {
    .p-header--logo {
        width: 180px;
    }

    .p-header--nav {
        display: flex;
    }

    .p-header--menu {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    .p-header--spmenu {
        display: none;
    }
}

/* Main visual */
.p-mainVisual {
    padding-top: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.p-mainVisual--pc {
    display: none;
}

@media screen and (min-width: 768px) {
    .p-mainVisual--pc {
        display: block;
        width: 100%;
    }

    .p-mainVisual--sp {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    /* タブレット用メインビジュアル位置調整 */
    .p-mainVisual {
        padding-top: 4rem;
    }
}

@media screen and (min-width: 1080px) {
    .p-mainVisual {
        padding-top: 0;
    }
}

/* PR point */
.p-pr {
    padding: 3rem 0;
    margin: 0 auto;
    background: #000;
}

.p-pr .l-container {
    max-width: 1040px;
}

.p-pr .c-title {
    font-size: 1.08rem;
}

@media screen and (min-width: 768px) {
    .p-pr {
        padding: 5rem 0;
    }

    .p-pr .c-title {
        font-size: 2.25rem;
    }

    .p-pr .c-heading {
        text-align: center;
    }
}

/* Pick Up */
.p-pickup {
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.p-pickup--container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .p-pickup {
        padding: 5rem 0;
    }
}


/* portfolio */
.p-portfolio {
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.p-portfolio .c-title {
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.p-portfolio .c-title::after {
    background-color: #cc9a1d;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 1));
}

@media screen and (min-width: 768px) {
    .p-portfolio {
        padding-bottom: 5rem;
    }

    .p-portfolio .l-flex--pc {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .p-portfolio .l-flex--pc::after {
        content: '';
        display: block;
        width: 31%;
    }

    .p-portfolio .c-card {
        width: 31%;
        margin-bottom: 4rem;
    }

    .p-portfolio .c-title {
        font-size: 1.5rem;
    }
}

/* profile */
.p-profile {
    background-color: #000;
    padding: 3rem 0;
}

.p-profile .l-flex {
    flex-direction: column;
    justify-content: center;
}

.p-profile .c-title {
    color: #cc9a1d;
    padding: .5rem 0;
}

.p-profile .p-profile--img {
    width: 150px;
}

.p-profile .p-profile--name {
    color: #cc9a1d;
}

.p-profile .heading--pc {
    margin-top: 2.5rem;
}

@media screen and (min-width: 1040px) {
    .p-profile {
        background-color: #000;
        padding: 5rem 0;
    }

    .p-profile .l-flex {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

    .p-profile .p-profile--item {
        margin-right: 5rem;
    }

    .p-profile .p-profile--img {
        width: 200px;
    }

    .p-profile .p-profile--name {
        font-size: 1.3rem;
    }

    .p-profile .text {
        max-width: 50%;
    }

    .p-profile .heading--pc {
        margin-top: 0;
    }
}

/* Footer */
.p-footer--writer {
    padding: 3rem 0 1.25rem;
    font-size: .75rem;
    background-color: #000;
}

@media screen and (min-width: 768px) {
    .p-footer--writer {
        padding: 5rem 0 1.25rem;
    }
}

/*
  Utility
----------------------------------------------- */
.screen-render-txt {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.note-img img {
    width: 70px;
    padding-right: 4px;
    vertical-align: middle;
    transform: translateY(-2px);
}

.pc-br {
    display: none;
}

@media screen and (min-width: 768px) {
    .sp-br {
        display: none;
    }

    .pc-br {
        display: block;
    }
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin-bottom: 1rem;
    z-index: 1;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: none !important;
}

/* animsition カスタマイズ */
.animsition-loading, .animsition-loading:after {
    width: 50px;
    height: 50px;
}

.animsition-loading {
    border-top: 3px solid rgba(187, 135, 56, 0.2);
    border-right: 3px solid rgba(187, 135, 56, 0.2);
    border-bottom: 3px solid rgba(187, 135, 56, 0.2);
    border-left: 3px solid #b28738;
}

/* セクションスライドイン */
.section-fadein {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}

.section-fadein.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}